body {
    background-image: url('webBg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20x;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
}

header {
    text-align: center;
}

h1 {
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    word-break: break-all;
}

/* GRID IMAGES */

.content img:not(:hover) {
    transition: transform .5s;
    transform: scale(1);
}

.content img:hover {
    transition: transform .2s;
    transform: scale(1.25);
}

.content img {
    width: 100%;
    object-fit: cover;
}

* {
    box-sizing: border-box;
}

/* GRID */

.main {
    max-width: 1000px;
    margin: auto;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */

.row, .row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */

.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}